# Ignore the .env file
.env

# Ignore other files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/


# /tmp/ is a system directory that is not checked into the repository
# New approach for apis management